#header {
    background-image: url(../assets/images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    font-size: 100px;
    color: white;
    padding: 5%;
}

#content {
    padding: 10%;
}

#main-info {
    float: left;
    margin: 5%;
    max-width: 40%;
}

form {
    text-align: center;
    width: fit-content;
}

form svg {
    display: inline-block;
    margin-bottom: 10px;
}

#first-entries {
    display: flex;
}

#second-entries {
    display: flex;
}

#currency-codes {
    display: flex;
}

.card {
    margin: 7%;
}

#currencies {
    margin: 5%;
}

#currency-list {
    max-height: 500px;
}

#currencies-column {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 5%;
}

#code-error {
    padding: 5%;
}

@media (max-width: 700px) {
    #main-info {
        max-width: 100%;
    }

    #currency-codes,
    #conversion-rate,
    #error-container {
        width: 100%;
        max-width: none;
    }

    #main-info,
    #currency-codes,
    #conversion-rate,
    #error-container {
        order: 1;
    }

    #form {
        width: 100%;
        max-width: none;
    }
}