#header {
    background-image: url(../assets/images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    font-size: 100px;
    color: white;
    padding: 5%;
}

#content {
    padding: 10%;
}

#main-info {
    width: 60%;
    float: left;
}

#first-entries {
    display: flex;
}

#second-entries {
    display: flex;
}

#currency-codes {
    display: flex;
}

/* #currencies {
    display: flex;
}

#major-currencyies {
    display: flex;
} */

#currency-list {
    max-height: 500px;
}